<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.example.name.mapper.FavoriteChennelMapper'>

  <insert id='insert' parameterType='FavoriteChennel'
    useGeneratedKeys='false' keyProperty='id_subscriber, id_chennel'>
    INSERT INTO
      favorite_chennel (id_subscriber, id_chennel)
    VALUES
      (#{idSubscriber}, #{idChennel})
    ON CONFLICT DO NOTHING
  </insert>

  <delete id='delete' parameterType='FavoriteChennel'>
    DELETE FROM
      favorite_chennel 
    WHERE
      id_subscriber = #{idSubscriber}
    AND
      id_chennel = #{idChennel}
  </delete>

  <resultMap type='FavoriteChennel' id='FavoriteChennelResult'>
    <result property='idSubscriber' column='id_subscriber' />
    <result property='idChennel' column='id_chennel' />
  </resultMap>
</mapper>