*, *::before, *::after {
	box-sizing: border-box;
}

table {
	border: 1px double black;
	border-collapse: collapse;
}

th {
  text-align: left; /* Выравнивание по левому краю */
  background: #c7ded8; /* Цвет фона ячеек */
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid black; /* Граница вокруг ячеек */
}

td {
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid black; /* Граница вокруг ячеек */
}