<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TV company app</title>
<link th:href="@{../css/index.css}" rel="stylesheet">
</head>

<body>
  <fieldset>
    <legend>Subscribers</legend>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Show favorite chennels</th>
      </tr>
      <tr th:each="item : ${subscribers_list}">
        <td th:utext="${item.id}">..</td>
        <td th:utext="${item.name}">..</td>
        <td>
          <form th:action="@{/}" method="GET">
          <input type="hidden" name="subscriberId" th:value="${item.id}"/>
            <input type="submit" value="Show" /></form></td>
      </tr>
    </table>

    <br>
    <form th:action="@{subscriber/add}" th:object="${subscriber}" method="POST">
      <p>
        Add new subscriber <input type="text" th:field="*{name}" /> <input type="submit" value="Add" />
      </p>
    </form>

    <br>
    <form th:action="@{subscriber/update}" th:object="${subscriber}" method="POST">
      <p>
        <label>Update subscriber name from</label> 
        <select th:field="*{id}">
          <option value="0">--</option>
          <option th:each="item : ${subscribers_list}" th:value="${item.id}"
            th:utext="${item.name} + ' (#' + ${item.id} + ')'">..</option>
        </select> 
        <label>to</label> 
          <input type="text" th:field="*{name}" th:value="${subscriber.name}"/> 
          <input type="submit" value="Update"/>
      </p>
    </form>

    <br>
    <form th:action="@{subscriber/delete}" th:object="${subscriber}" method="POST">
      <label>Delete subscriber</label> 
      <select th:field="*{id}">
        <option value="0">--</option>
        <option th:each="item : ${subscribers_list}" th:value="${item.id}"
          th:utext="${item.name} + ' (#' + ${item.id} + ')'">..</option>
      </select> 
      <input type="submit" value="Delete" />
    </form>
  </fieldset>

  <br>
  <fieldset>
    <legend>Chennels</legend>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <tr th:each="item : ${chennels_list}">
        <td th:utext="${item.id}">..</td>
        <td th:utext="${item.name}">..</td>
        <td th:utext="${item.description}">..</td>
      </tr>
    </table>
    
    <br>
    <form th:action="@{chennel/add}" th:object="${chennel}" method="POST">
      <p>
         Add new chennel
         <input type="text" th:field="*{name}" />
         <input type="text" th:field="*{description}" />
         <input type="submit" value="Add" />
      </p>
    </form>

    <br>
    <form th:action="@{chennel/update}" th:object="${chennel}" method="POST">
      <p>
        <label>Update chennel name from</label> 
        <select th:field="*{id}">
          <option value="0">--</option>
          <option th:each="item : ${chennels_list}" th:value="${item.id}"
            th:utext="${item.name} + ' (#' + ${item.id} + ')'">..</option>
        </select> 
        <label>to</label> 
          <input type="text" th:field="*{name}" th:value="${chennel.name}"/> 
          <input type="text" th:field="*{description}" th:value="${chennel.description}"/> 
          <input type="submit" value="Update"/>
      </p>
    </form>

    <br>
    <form th:action="@{chennel/delete}" th:object="${chennel}" method="POST">
      <label>Delete chennel</label> 
      <select th:field="*{id}">
        <option value="0">--</option>
        <option th:each="item : ${chennels_list}" th:value="${item.id}"
          th:utext="${item.name} + ' (#' + ${item.id} + ')'">..</option>
      </select> 
      <input type="submit" value="Delete" />
    </form>
  </fieldset>
  
  <br>
    <fieldset>
    <legend>Favorite chennels for subscriber</legend>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <tr th:each="item : ${favoriteChennelsForSubscriber}">
        <td th:utext="${item.id}">..</td>
        <td th:utext="${item.name}">..</td>
        <td th:utext="${item.description}">..</td>
      </tr>
    </table>
    
    <br>
    <form th:action="@{favorite_chennel/add}" th:object="${favoriteChennel}" method="POST">
      <p>
        Add favorite chennel
        <select th:field="*{idChennel}">
          <option value="0">--</option>
          <option th:each="item : ${chennels_list}" th:value="${item.id}"
            th:utext="${item.name} + ' (#' + ${item.id} + ')'">..</option>
        </select> 
        <input type="hidden" th:field="*{idSubscriber}" th:value="${favoriteChennel.idSubscriber}"/>
        <input type="submit" value="Add" />
      </p>
    </form>

    <br>
    <form th:action="@{favorite_chennel/delete}" th:object="${favoriteChennel}" method="POST">
      <label>Delete favorite chennel</label> 
      <select th:field="*{idChennel}">
        <option value="0">--</option>
        <option th:each="item : ${favoriteChennelsForSubscriber}" th:value="${item.id}"
          th:utext="${item.name} + ' (#' + ${item.id} + ')'">..</option>
      </select> 
       <input type="hidden" th:field="*{idSubscriber}" th:value="${favoriteChennel.idSubscriber}">
       <input type="submit" value="Delete" />
    </form>
  </fieldset>

</body>
</html>